:local(.FlexyLayout) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
    height: 100%;
}

:local(.Container) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
}

:local(.Container *) {
    width: 28%;
}

:local(.Footer) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

:local(.Link) {
    text-decoration: none;
    font-family: "roboto", sans-serif;
    font-size: 20px;
    color: #0074D9;
    font-weight: 700;
}

:local(.Link:hover) {
    color: #3D9970;
}

:local(.Components) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding-right: 5px;
    border-right: 1px solid rgba(0, 0, 0, .5);
}

:local(.Layouts) {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

:local(.Layout) {
    border: 1px solid black;
    border-radius: 10px;
}

:local(.FlexyContainer) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
}

:local(.FlexyContainer *) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 10%;
}